@import "vars";
@import "libs";
@import "global";
@import "fonts";

// start header

.header__top{
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  &-inner{
    display: flex;
    height: 49px;
    align-items: center;
  }
  &-link{
    font-weight: 700;
    position: relative;
    &::before{
      content: '';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
    }
  }
  &-working-hours{
    margin-left: auto;
    margin-right: 68px;
    padding-left: 19px;
    &::before{
      content: '\f017';
    }
  }
  &-phone{
    margin-right: 62px;
    padding-left: 22px;
    &::before{
      content: '\f095';
    }
  }
  &-email{
    padding-left: 22px;
    &::before{
      content: '\f003';
    }
  }
}
.header__bottom{
  &-inner{
    padding-top: 77px;
    padding-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu__lsit{
  li{
    display: inline-block;
    & + li{
      margin-left: 35px;
    }
  }
  a{
    color: #4b4b4b;
    transition: all .3s linear;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
      color: $accent;
    }
  }
}
.header__social-list{
  li{
    display: inline-block;
    & + li{
      margin-left: 14px;
    }
  }
  a{
    &::before{
      transition: all .3s ease;
      color: #4b4b4b;
    }
    &:hover{
      &::before{
        color: $accent;
      }
    }
  }
}

// start header
// start slider

.slider__item{
  height: 755px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
  }
  &-box{
    padding-top: 300px;
    padding-bottom: 100px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 15px;
  }
  &-text{
    max-width: 585px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  &-btn{
    @extend %f400;
    text-transform: uppercase;
    width: 145px;
    padding: 10px;
    border: 1px solid #fff;
    transition: all .3s ease;
    &:hover{
      background-color: rgba(255,255,255, 0.3);
    }
  }
}
.slider__arrows{
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
    content: '';
    font-family: 'icomoon';
    font-size: 50px;
    color: $text;
    display: block;
    transition: all .3s ease;
  }
  &:hover{
    background-color: rgba(255,255,255, 0.3);
    &::before{
      color: #fff;
    }
  }
}
.slider__arrow-next{
  right: 29px;
  &::before{
    content: '\f054';
  }
}
.slider__arrow-prev{
  left: 29px;
  &::before{
    content: '\f053';
  }
}

// end slider
// start benefits

.benefits{
  padding: 80px 0 25px;
  background-color: #f8f8f8;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    text-align: center;
    max-width: 360px;
    width: 100%;
    margin-bottom: 65px;
  }
  &__icon{  
    margin-bottom: 25px; 
    font-size: 50px;
  }
  &__title{
    color: $accent;
    font-size: 24px;
    @extend %f700;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

// end benefits
// start project slider

.project__slider{
  padding: 75px 0 43px;
  &-item{
    width: 360px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 16px;
  }
  &-img{
    width: 100%;
    height: 240px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      background-color: $accent;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 40%;
      z-index: 1;
      transition: all .2s linear;
    }
    &:hover{
      a{
        opacity: 1;
      }
      &::before{
        width: 100%;
        height: 100%;
      }
    }
  }
  a{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .2s linear;
    &::before{
      content: '\f00e';
      font-family: 'icomoon';
      color: #fff;
      font-size: 35px;
    }
  }
}
.project-slider__arrows{
  width: 23px;
  height: 21px;
  background-color: $accent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -16px;
  right: 0;
  &::before{
    content: '';
    font-family: 'icomoon';
    font-size: 16px;
    color: #fff;
  }
}
.project-slider__arrow-prev{
  right: 26px;
  &::before{
    content: '\f104';
  }
}
.project-slider__arrow-next{
  &::before{
    content: '\f105';
  }
}

// end project slider
// start statistics

.statistics{
  background-color: $accent;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 234px;
  }
  &__item{
    color: #fff;
    max-width: 263px;
    padding: 0 15px;
    text-align: center;
  }
  &__number{
    @extend %f700;
    font-size: 50px;
    line-height: 57px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 15px;
    &::before{
      content: '';
      width: 40px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__title{
    font-size: 26px;
    @extend %f400;
  }
}

// end statistics
// start records

.records{
  padding: 80px 0;
  position: relative;
  &__item{
    max-width: 560px;
    width: 100%;
    background-color: #f8f8f8;
    margin-right: 31px;
    margin-bottom: 39px;
  }
  &__wrapper{
    display: flex;
  }
  &__box{
    padding: 40px 25px 0px;
  }
  &__img{
    min-width: 225px;
    height: 210px;
    background-color: $accent;
  }
  &__date{
    font-style: italic;
    margin-bottom: 12px;
  }
  &__message{
    margin-bottom: 35px;
  }
  &__btn{
    float: right;
    font-weight: 700;
    color: $accent;
  }
}

// end records
// start join

.join{
  background-color: $accent;
  &__inner{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    @extend %f400;
  }
  &__title{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__btn{
    padding: 15px 10px;
    width: 174px;
    border: 2px solid #fff;
    text-align: center;
    transition: all .3s linear;
    &:hover{
      background-color: rgba(255,255,255, 0.3);
    }
  }
}

// end join
// start footer

.footer{
  background-color: #161616;
  padding: 55px 0 65px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    @extend %f700;
    font-size: 20px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__item{
    max-width: 260px;
    width: 100%;
    &.footer__item-col{
      max-width: 200px;
    }
  }
  &__text{
    color: #fff;
    margin-bottom: 20px;
  }
  &__link{
    color: #fff;
    @extend %f700;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      color: $accent;
      font-family: 'icomoon';
      font-weight: 400;
    }
  }
  &__street{
    &::before{
      content: '\f041';
    }
  }
  &__phone{
    &::before{
      content: '\f095';
    }
  }
  &__email{
    &::before{
      content: '\f003';
    }
  }
}
.footer__list{
  li{
    position: relative;
    padding-left: 9px;
    &::before{
      content: '\f105';
      position: absolute;
      left:0;
      color: $accent;
      font-family: 'icomoon';
    }
    & + li{
      margin-top: 10px;
    }
    a{
      color: #fff;
    }
  }
}

// end footer
@import "media";